.containerDark {
    display: flex;
    margin-top: 3rem;
    width: 100vw;
    height: 94.9vh;
    align-items: center;
    justify-content: space-around;
    background-color: #212529;
    overflow: hidden;
}
.container{
    display: flex;
    margin-top: 3rem;
    width: 100vw;
    height: 94.9vh;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f9fa;
    overflow: hidden;
   
}

.title h1 {
    color: #8B307F;
    font-weight: bolder;
    margin-bottom: 0rem;
}

.fontblack {
    font-weight: bolder;
    font-size: 1.1rem;
   
}
.fontwhite {
    font-weight: bolder;
    font-size: 1.1rem;
    color: white;
   
}
.title{
    animation: caida 2.2s ease-out;
}
@keyframes caida {
    from {
      transform: translate3d(0, -4000%, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
}
.containerCards {
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
}

.card {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    transition: transform 0.2s ease-in-out; 
    border-radius: 5px;
    animation: rightleft 2.2s ease-out;
}
@keyframes rightleft {
    from {
      transform: translate3d(2000%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
}


.card:hover{
    transform: scale(1.15);
}

.card img {
    height: 100px;
    width: 120px;
    margin-bottom: 1rem;
       
}


.card p {
    color: #8B307F;
    font-weight: bolder;
}
.groupCard div {
    /* margin-left: 20px; */
   
}



@media (max-width:1280px) {
    .container{
        height: 91.5vh;
    }
    .containerDark{
        height: 91.5vh;
    }
    .containerCards {

        width: 70%;
    }

    .card img {
        height: 70px;
        width: 90px;
    }
    .card{
        
        padding: 0.5rem;
    }
    .groupCard div {
        border-radius: 5px;
        margin-left: 40px;
        
          
       }
}



@media only screen and (min-width: 320px) and (max-width: 736px) {
    .container {
        display: block;
        
        width: 100vw;
        height: 100vh;
        padding-top: 5rem;
        padding-bottom: 75rem;

    }
    .containerDark {
        display: block;
        
        width: 100vw;
        height: 100vh;
        padding-top: 5rem;
        padding-bottom: 75rem;

    }
    .containerCards {
        flex-wrap: wrap;
        width: 100%;
    }

    .title h1 {
  
        text-align: center;

    }

    .title p {
        text-align: center;
    }

    .card img {
        height: 80px;
        width: 100px;
    }

    .card {
        margin: 30px;
    }

    .groupCard {
        display: flex;
        
    }
    .groupCard div {
        margin-left: 40px;
        margin-right: 40px;
       
    }
    
}