.navBar{
    position: fixed;
    display: inline;
z-index: 2;
}
.fontpurple{
    color:#8B307F;
    font-weight:lighter;
  
}
.fontblack{
    color:black;
    font-weight: bolder;
}
.luna{
    width: 24px;
    height:24px;
    margin-bottom: 0.1rem;
}
.fontblack{
    color:black;
    font-weight: bolder;
}.fontwhite{
    color:white;
    font-weight: bolder;
}
.sol{
   
    color: white;
    width: 24px;
    height:24px;
    margin-bottom: 0.1rem;
}
